font-family:"Times New Roman", Times, serif;
  color: #333333; /* dark gray not black 
  a:hover {
   text-decoration: blink;
    color: white;
	background-color: black;
  h1 {
    margin-bottom: 10px;
    font-size:300%;
    padding: 0px;
    font-variant:small-caps;
}
